.conversationpicker-default {
    background-color: lightgray;
    color: black;
}

.conversationpicker-set {
    background-color: #007bff;
    color: white;
}

.message-list {
    height: 80vh;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.new-message-user-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remove-border {
    border: 0;
}

.message-section {
    padding-left: 0px;
    padding-right: 0px;
}

.message-section-header {
    margin: auto;
    height: 60px;
    background-color: #E9E8ED;
    border-bottom: 1px solid lightgrey;
    font-size: 1.5rem;
    vertical-align: middle;
    line-height: 60px;
}

.message-section-content {
    background-color: white;
    padding: 10px 15px 5px 15px;
}

.card-section {
    background-color: #E9E8ED;
    border-right: 1px solid lightgrey;
}

.message-display {
    border-radius: 5px;
    padding: 3px;
}

.from-message {
    background-color: #D7D6DB;
    padding: 5px;
}

.to-message {
    background-color: #007bff;
    color: white;
    padding: 5px;
}

.message-offset {
    margin-bottom: 5px;
}

.user-information {
    margin-top: 30px;
    text-align: left;
}